<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="model">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import model urdf file -->
    <xacro:include filename="$(find fumti)/urdf/model.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="model.ros2_control.xacro" />


    <xacro:model_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
